@media (min-width: 780px) {
    .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }

    .menuitem {
        display: flex;
        width: 100%;
    }

    .menusub {
        flex-grow: 1;
        flex-direction: column;
        width: 250px;
    }

    .nav-item.dropdown {
        position: relative;
    }

    .dropdown-menu {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.dropdown-menu {
    position: fixed;
    padding: 24px;
}

@media (max-width: 780px) {
    .nav-item {
        width: 100%;
    }

    .dropdown-menu {
        border: 0;
    }

    .main-menu {
        flex-direction: column;
    }
}

.title-sub {
    font-size: 14px;
}

.description {
    font-size: 11px;
    font-weight: normal;

}

.pr-menu {
    font-size: 14px;
}

.nav-link img {
    border-radius: 30px;
    margin: 10px;
}

.menusub li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    flex: 1;

}
.mgl-auto {
    margin-left:auto ;
}

